/*----------IMPORTING FONT ----------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
}

/*----------MAIN TITLE----------*/
#title {
    margin: 80px 0px;
    color: white;
    text-align: center;

}

/*----------STYLE OF THE CARDS----------*/
#content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.card {
    width: 30%;
    box-shadow: 2px 2px 2px 2px black;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    margin: 20px;
    display: inline-grid;
    text-align: center;
    font-size: 18px;
}


/*----------STYLE OF THE FORM FIELD----------*/
input, textarea {
    border-radius: 4px;
    border: 2px solid #01579b;
    width: 90%;
    font-size: inherit;
    padding: 10px;
    margin:  15px 0;
}
input[type=submit] {
    color: white;
    background-color: #1976d2;
}
input[type=submit]:hover{
    background-color: #01579b;
}



/*----------STLYE OF THE MATCH / FAIL TITLE----------*/
#feedback {
    font-size: 30px;
    font-weight: bold;
}
